<h1>Welcome, <%= current_user.name %>!</h1>

<h2>Recently Played Songs</h2>
<ul id="recent_plays">
  <%= turbo_stream_from "dashboard_#{current_user.id}_plays" %>
  <%= render partial: "dashboard/play_history", collection: @recent_plays, as: :play %>
</ul>

<h2>Top Artists</h2>
<ul>
  <% @artist_counts.each do |artist, count| %>
    <li><%= artist %>: <%= count %> plays</li>
  <% end %>
</ul>
